@attribute [Authorize(Roles = JOUserRole.TA)]
@attribute [Route(JORoutes.TA.Candidates)]

@inject ICandidateService CandidateService
@inject IUtilitiesService UtilitiesService
@inject IAlertService AlertService
@inject IDropDownListService DropDownListService
@inject NavigationManager Navigation

<div class="card small shadow mb-4 border-left-primary">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">
            Manage Candidates
        </h6>
    </div>

    <div class="card-body">

        <div class="form-row align-items-center mb-4">
            <div class="col-md-3">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-light">
                            <i class="fas fa-filter text-primary"></i>
                        </span>
                    </div>

                    <InputSelect class="form-control" @bind-Value="@statusId">
                        <option value="0">- All Status -</option>
                        @foreach (var status in ddStatus)
                        {
                            <option value="@status.Id">@status.Value</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text"
                        class="form-control"
                        placeholder="Candidate name"
                        @bind="@candidateName">
                </div>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary btn-sm btn-block"
                        @onclick="() => ChangePage(1)">
                    <i class="fas fa-search mr-2"></i> Apply Filters
                </button>
            </div>

            <div class="col-md-2">
                <button class="btn btn-outline-secondary btn-sm btn-block"
                        @onclick="() => Reset()">
                    <i class="fas fa-eraser mr-2"></i>Reset
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm text-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position Applied For</th>
                        <th>Expected Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @if (candidates.Any())
                    {
                        @foreach (var item in candidates)
                        {
                            <tr>
                                <td>
                                    <button type="button"
                                            class="btn btn-sm btn-link text-primary p-0 align-baseline"
                                            style="text-decoration: none;"
                                            @onclick="() => ShowModalPersonalInfo(item)">
                                        @($"{item.FirstName} {item.LastName}")
                                    </button>
                                </td>
                                <td>@item.Email</td>
                                <td>@item.PositionAppliedFor</td>
                                <td>@UtilitiesService.ToPeso(item.ExpectedSalary)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                <i class="fas fa-info-circle mr-1"></i> No records found.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <Pagination TotalRows="@totalCount"
            RowsPerPage="@pageSize"
            CurrentPage="@currentPage"
            MaxPageButtons="5"
            OnPageChanged="ChangePage">
        </Pagination>

    </div>
</div>

<Modal @ref="modalPersonalInfo">
    <ChildContent>
        <div class="form-group">
            <label class="font-weight-bold text-gray-800">First Name</label>
            <InputText class="form-control"
                       @bind-Value="firstName" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">Last Name</label>
            <InputText class="form-control"
                       @bind-Value="lastName" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">Email</label>
            <InputText type="email"
                       class="form-control"
                       @bind-Value="email" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">Contact Number</label>
            <InputText type="email"
                       class="form-control"
                       @bind-Value="contactNumber" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">HROD Candidate</label>

            <InputSelect @bind-Value="isHrod" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </InputSelect>
        </div>
    </ChildContent>
    <FooterTemplate>
        <button class="btn btn-primary btn-sm"
                @onclick="() => UpdatePersonalInfo()">
            Submit
        </button>
    </FooterTemplate>
</Modal>

@code {
    private IEnumerable<VwCandidates> candidates = new List<VwCandidates>();
    private IEnumerable<DropdownDto> ddStatus = new List<DropdownDto>();

    //filters
    private int statusId = 0;
    private string? candidateName = "";

    //pagination
    private int currentPage = 1;
    private int pageSize = CommonConstant.DefaultPageSize;
    private int totalCount = 0;
    private EventCallback<int> OnPageChanged { get; set; }

    //manage
    Modal modalPersonalInfo = default!;
    private int candidateId;
    private string firstName;
    private string lastName;
    private string email;
    private string contactNumber;
    private bool isHrod;

    protected override async Task OnInitializedAsync()
    {
        //ddStatus = await DropDownListService.GetCandidateStatus();
        await ChangePage(1);
    }

    private async Task ChangePage(int newPage)
    {
        currentPage = newPage;
        var pagedCandidates = await CandidateService.SearchCandidatesAsync(
            statusId,
            candidateName,
            currentPage,
            pageSize);

        candidates = pagedCandidates.Data;
        totalCount = pagedCandidates.TotalCount;
    }

    private async Task Reset()
    {
        statusId = 0;
        candidateName = "";
        await ChangePage(1);
    }

    //Manage
    private void ShowModalPersonalInfo(VwCandidates item)
    {
        candidateId = item.Id;
        firstName = item.FirstName;
        lastName = item.LastName;
        email = item.Email;
        contactNumber = item.ContactNumber;

        modalPersonalInfo.Title = $"{firstName} {lastName}";
        modalPersonalInfo.Show();
    }

    private async Task<List<string>> CollectErrors(List<string> errors)
    {
        bool isValidEmail = UtilitiesService.IsValidEmail(email);

        if (!isValidEmail)
            errors.Add("Please enter a valid email address.");

        if (string.IsNullOrEmpty(firstName))
            errors.Add("First Name is required.");

        if (string.IsNullOrEmpty(lastName))
            errors.Add("Last Name is required.");

        if (string.IsNullOrEmpty(contactNumber))
            errors.Add("Contact Number is required.");

        return errors;
    }

    private async Task UpdatePersonalInfo()
    {
        var errors = await CollectErrors(new List<string>());

        if (errors.Any())
        {
            await AlertService.Errors(errors);
            return;
        }

        if (!await AlertService.Confirm())
            return;

        await CandidateService.UpdatePersonalInfo(
            candidateId,
            firstName,
            lastName,
            email,
            contactNumber,
            isHrod);

        await ChangePage(1);
        modalPersonalInfo.Close();
    }
}
