@attribute [Authorize(Roles = JOUserRole.TA)]
@attribute [Route(JORoutes.TA.Candidates)]

@inject ICandidateService CandidateService
@inject IUtilitiesService UtilitiesService
@inject IAlertService AlertService
@inject IDropDownListService DropDownListService
@inject NavigationManager Navigation

<div class="card shadow mb-4 border-left-primary small">
    <div class="card-header py-3 bg-white">
        <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-between">
            <div>
                <h6 class="m-0 font-weight-bold text-primary">
                    <i class="fas fa-user-tie mr-2"></i>
                    Candidates
                </h6>
            </div>
            <div class="mt-2 mt-lg-0">
                <span class="badge badge-light border mr-1">
                    <i class="fas fa-user-shield fa-fw text-primary mr-1">
                    </i>Talent Aquisition View
                </span>
            </div>
        </div>
    </div>

    <div class="card-body">

        <!-- Filters -->
        <div class="border rounded bg-white mb-4">
            <div class="px-3 py-2 border-bottom bg-light d-flex flex-column flex-md-row justify-content-between">
                <div>
                    <h6 class="m-0 font-weight-bold text-gray-800"><i class="fas fa-filter fa-fw text-primary mr-2"></i>Search & Filters</h6>
                </div>
            </div>

            <div class="p-3">
                <div class="row align-items-end">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <label class="font-weight-bold text-gray-700 mb-1">Name or Email</label>
                        <input type="text"
                               class="form-control form-ctrl-sml"
                               @bind="@candidateName">
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <label class="font-weight-bold text-gray-700 mb-1">Status</label>
                        <InputSelect class="form-control form-ctrl-sml" 
                            @bind-Value="@statusId">
                            <option value="0">- All Status -</option>
                            @foreach (var status in ddStatus)
                            {
                                <option value="@status.Id">@status.Value</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-3">
                        <div class="d-flex flex-column flex-sm-row">
                            <button type="button" class="btn btn-primary btn-sm mb-2 mb-sm-0 mr-sm-2"
                                @onclick="() => ChangePage(1)">
                                <i class="fas fa-search fa-fw mr-1"></i>Search
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm" 
                                    @onclick="() => Reset()">
                                <i class="fas fa-eraser fa-fw mr-1"></i>Clear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filters -->

        <!-- Grid -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm text-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position Applied For</th>
                        <th>Expected Salary</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (candidates.Any())
                    {
                        @foreach (var item in candidates)
                        {
                            <tr>
                                <td>@($"{item.FirstName} {item.LastName}")</td>
                                <td>@item.Email</td>
                                <td>@item.PositionAppliedFor</td>
                                <td>@UtilitiesService.ToPeso(item.ExpectedSalary)</td>
                                <td class="text-center">
                                    <a href="@($"{JORoutes.TA.MSFormCandidate}/{item.Id}")"
                                       class="btn btn-outline-primary btn-sm mr-1"
                                       title="Send access request email">
                                        <i class="fas fa-envelope fa-fw"></i>
                                    </a>

                                    <button class="btn btn-outline-info btn-sm mr-1" 
                                        title="Edit"
                                        @onclick="() => ShowModalPersonalInfo(item)">
                                        <i class="fas fa-edit fa-fw"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                <i class="fas fa-info-circle mr-1"></i> No records found.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Grid -->

        <!-- Pagination -->
        <Pagination TotalRows="@totalCount"
            RowsPerPage="@pageSize"
            CurrentPage="@currentPage"
            MaxPageButtons="5"
            OnPageChanged="ChangePage">
        </Pagination>

    </div>
</div>

<Modal @ref="modalPersonalInfo">
    <ChildContent>
        <div class="form-group">
            <label class="font-weight-bold text-gray-800">First Name</label>
            <InputText class="form-control"
                       @bind-Value="firstName" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">Last Name</label>
            <InputText class="form-control"
                       @bind-Value="lastName" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">Email</label>
            <InputText type="email"
                       class="form-control"
                       @bind-Value="email" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">Contact Number</label>
            <InputText type="email"
                       class="form-control"
                       @bind-Value="contactNumber" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold text-gray-800">HROD Candidate</label>

            <InputSelect @bind-Value="isHrod" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </InputSelect>
        </div>
    </ChildContent>
    <FooterTemplate>
        <button class="btn btn-primary btn-sm"
                @onclick="() => UpdatePersonalInfo()">
            Submit
        </button>
    </FooterTemplate>
</Modal>

@code {
    private IEnumerable<VwCandidates> candidates = new List<VwCandidates>();
    private IEnumerable<DropdownDto> ddStatus = new List<DropdownDto>();

    //filters
    private int statusId = 0;
    private string? candidateName = "";

    //pagination
    private int currentPage = 1;
    private int pageSize = CommonConstant.DefaultPageSize;
    private int totalCount = 0;
    private EventCallback<int> OnPageChanged { get; set; }

    //manage
    Modal modalPersonalInfo = default!;
    private int candidateId;
    private string firstName;
    private string lastName;
    private string email;
    private string contactNumber;
    private bool isHrod;

    protected override async Task OnInitializedAsync()
    {
        //ddStatus = await DropDownListService.GetCandidateStatus();
        await ChangePage(1);
    }

    private async Task ChangePage(int newPage)
    {
        currentPage = newPage;
        var pagedCandidates = await CandidateService.SearchCandidatesAsync(
            statusId,
            candidateName,
            currentPage,
            pageSize);

        candidates = pagedCandidates.Data;
        totalCount = pagedCandidates.TotalCount;
    }

    private async Task Reset()
    {
        statusId = 0;
        candidateName = "";
        await ChangePage(1);
    }

    //Manage
    private void ShowModalPersonalInfo(VwCandidates item)
    {
        candidateId = item.Id;
        firstName = item.FirstName;
        lastName = item.LastName;
        email = item.Email;
        contactNumber = item.ContactNumber;

        modalPersonalInfo.Title = $"{firstName} {lastName}";
        modalPersonalInfo.Show();
    }

    private async Task<List<string>> CollectErrors(List<string> errors)
    {
        bool isValidEmail = UtilitiesService.IsValidEmail(email);

        if (!isValidEmail)
            errors.Add("Please enter a valid email address.");

        if (string.IsNullOrEmpty(firstName))
            errors.Add("First Name is required.");

        if (string.IsNullOrEmpty(lastName))
            errors.Add("Last Name is required.");

        if (string.IsNullOrEmpty(contactNumber))
            errors.Add("Contact Number is required.");

        return errors;
    }

    private async Task UpdatePersonalInfo()
    {
        var errors = await CollectErrors(new List<string>());

        if (errors.Any())
        {
            await AlertService.Errors(errors);
            return;
        }

        if (!await AlertService.Confirm())
            return;

        await CandidateService.UpdatePersonalInfo(
            candidateId,
            firstName,
            lastName,
            email,
            contactNumber,
            isHrod);

        await ChangePage(1);
        modalPersonalInfo.Close();
    }
}
