@inject IReportService ReportService

<div class="row mb-4">
    @foreach(var item in statusCount)
    {
        <div class="col-xl-2 col-md-4 mb-4">
            <div class="@GetCardClass(item.StatusName)">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="@GetCardTextClass(item.StatusName)">
                                @item.StatusName
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@item.StatusCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="@GetCardIconClass(item.StatusName)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private IEnumerable<MainStatusCount> statusCount = new List<MainStatusCount>();

    protected override async Task OnParametersSetAsync()
    {
        statusCount = await ReportService.GetMainStatusCount();
    }

    private string GetCardClass(string statusName)
    {
        switch (statusName)
        {
            case "Total": return "card border-left-primary shadow h-100 py-2";
            case "Approved": case "Accepted": return "card border-left-success shadow h-100 py-2";
            case "Declined": return "card border-left-danger shadow h-100 py-2";

            default: return "card border-left-info shadow h-100 py-2";
        }
    }

    private string GetCardTextClass(string statusName)
    {
        switch (statusName)
        {
            case "Total": return "text-xs font-weight-bold text-primary text-uppercase mb-1";
            case "Approved": case "Accepted": return "text-xs font-weight-bold text-success text-uppercase mb-1";
            case "Declined": return "text-xs font-weight-bold text-danger text-uppercase mb-1";

            default: return "text-xs font-weight-bold text-info text-uppercase mb-1";
        }
    }

    private string GetCardIconClass(string statusName)
    {
        switch (statusName)
        {
            case "Total": return "fas fa-layer-group fa-2x text-gray-300";
            case "New": return "fas fa-plus-circle fa-2x text-gray-300";
            case "Approved": return "fas fa-check-circle fa-2x text-gray-300";
            case "Emailed": return "fas fa-envelope fa-2x text-gray-300";
            case "Accepted": return "fas fa-handshake fa-2x text-gray-300";
            case "Declined": return "fas fa-times-circle fa-2x text-gray-300";

            default: return "fas fa-clipboard-list fa-2x text-gray-300";
        }
    }
}
