@inject ITransactionService TransactionService

<div class="card-body">
    <!-- Filter/Search Section -->
    <div class="d-flex flex-column flex-md-row align-items-start flex-wrap mb-3"></div>

    <!-- Table Section -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm text-nowrap">
            <thead class="thead-light text-center">
                <tr>
                    <th>Transaction No.</th>
                    <th>Candidate Name</th>
                    <th>Candidate Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (transactionList.Any())
                {
                    @foreach (var item in transactionList)
                    {
                        <tr>
                            <td>
                                <a  href="@SetLink(item.Id)"
                                    class="text-info font-weight-bold">
                                    @item.TransactionNumber
                                </a>
                            </td>
                            <td>@item.CandidateName</td>
                            <td>@item.CandidateEmail</td>
                            <td>@item.StatusName</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" class="text-center text-muted">
                            <i class="fas fa-info-circle mr-1"></i> No records found.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public string RoleName { get; set; }

    IEnumerable<VwJobOfferTransactions> transactionList = new List<VwJobOfferTransactions>();

    protected override async Task OnInitializedAsync()
    {
        transactionList = await TransactionService.GetAllTransaction();
    }

    private string SetLink(int id)
    {
        switch (RoleName)
        {
            case JOUSerRole.TA:
                return $"{JORoutes.TA.Analysis}/{id}";

            default: 
                return $"{JORoutes.Transaction.Details}/{id}";
        }
    }
}
