<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseMock" aria-expanded="false"
       aria-controls="collapseConfig">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>MockUp Page</span>
    </a>

    <div id="collapseMock" class="collapse" aria-labelledby="headingPages" aria-expanded="false"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="@JORoutes.MockUp.FormRequest">MS-Form Requests</a>
            <a class="collapse-item" href="@JORoutes.MockUp.SendRequest">Send Request</a>
            <a class="collapse-item" href="@JORoutes.MockUp.Legal">Legal Entity</a>
            <a class="collapse-item" href="@JORoutes.MockUp.Analysis">JO Analysis</a>
            <a class="collapse-item" href="@JORoutes.MockUp.Approval">Approval</a>
            <a class="collapse-item" href="@JORoutes.MockUp.Accept">JO Accept</a>
            <a class="collapse-item" href="@JORoutes.MockUp.Negotiate">Negotiate</a>
            <a class="collapse-item" href="@JORoutes.MockUp.TADashboard">TA Dashboard</a>
            <a class="collapse-item" href="@JORoutes.MockUp.ApproverDashboard">Approver Dashboard</a>
            <a class="collapse-item" href="@JORoutes.MockUp.Users">JO Users</a>
        </div>
    </div>
</li>

@code {

}
