<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTA" aria-expanded="false"
       aria-controls="collapseConfig">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Talent Acquisition</span>
    </a>

    <div id="collapseTA" class="collapse" aria-labelledby="headingPages" aria-expanded="false"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            @* <a class="collapse-item" href="@JORoutes.TA.Dashboard">Dashboard</a>
            <a class="collapse-item" href="@JORoutes.TA.JobOffer">JO Creation</a>
            <a class="collapse-item" href="@JORoutes.TA.Accept">JO Accept</a>
            <a class="collapse-item" href="@JORoutes.TA.Return">Returns</a>
            <a class="collapse-item" href="@JORoutes.TA.Email">Email</a> *@

            <a class="collapse-item" href="@JORoutes.TA.Email">Email</a>
            <a class="collapse-item" href="@JORoutes.TA.Candidates">Candidates</a>
            <a class="collapse-item" href="@JORoutes.TA.RequestTracker">Request Tracker</a>
            <a class="collapse-item" href="@JORoutes.TA.MassUpload">Mass Upload</a>
        </div>
    </div>
</li>

@code {

}
