@inject IDashboardService DashboardService
@inject IJobOfferService JobOfferService
@inject IDropDownListService DropDownListService

@inject NavigationManager Navigation

<div class="card small shadow mb-4 border-left-primary">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">
            @HeaderTitle
        </h6>
    </div>
    <div class="card-body">
        
        <div class="form-row align-items-center mb-4">

            <!-- Status -->
            <div class="col-md-3">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-light">
                            <i class="fas fa-filter text-primary"></i>
                        </span>
                    </div>
                    
                    <InputSelect class="form-control" @bind-Value="@statusId">
                        <option value="0">- All Status -</option>
                        @foreach (var status in ddStatus)
                        {
                            <option value="@status.Id">@status.Value</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <!-- Candidate -->
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text"
                        class="form-control"
                        placeholder="Candidate name"
                        @bind="@candidate">
                </div>
            </div>

            <!-- Button -->
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm btn-block"
                        @onclick="() => ChangePage(1)">
                    <i class="fas fa-search mr-2"></i> Apply Filters
                </button>
            </div>

            <div class="col-md-2">
                <button class="btn btn-outline-secondary btn-sm btn-block"
                        @onclick="() => Reset()">
                    <i class="fas fa-eraser mr-2"></i>Reset
                </button>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm text-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th>JO No.</th>
                        <th>Status</th>
                        <th>Candidate</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Offer</th>
                    </tr>
                </thead>
                <tbody>
                    @if (jobOffers.Any())
                    {
                        @foreach (var item in jobOffers)
                        {
                            <tr>
                                <td>
                                    <button type="button"
                                            class="btn btn-sm btn-link text-primary p-0 align-baseline"
                                            style="text-decoration: none;"
                                            @onclick="() => ViewDetails(item)">
                                        @item.JobOfferNumber
                                    </button>
                                </td>
                                <td>@item.StatusName</td>
                                <td>@item.CandidateName</td>
                                <td>@item.PositionName</td>
                                <td>@item.DepartmentName</td>
                                <td>@item.BasicSalary?.ToString("C")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center text-muted">
                                <i class="fas fa-info-circle mr-1"></i> No records found.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <Pagination TotalRows="@totalCount"
            RowsPerPage="@pageSize"
            CurrentPage="@currentPage"
            MaxPageButtons="5"
            OnPageChanged="ChangePage">
        </Pagination>

    </div>
</div>

@code {
    [Parameter] public string HeaderTitle { get; set; } = "Job Offers";

    private IEnumerable<VwJobOffers> jobOffers = new List<VwJobOffers>();
    private IEnumerable<DropdownDto> ddStatus = new List<DropdownDto>();

    //filters
    private int statusId = 0;
    private string? candidate = "";

    //pagination
    private int currentPage = 1;
    private int pageSize = CommonConstant.DefaultPageSize;
    private int totalCount = 0;
    private EventCallback<int> OnPageChanged { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await ChangePage(1);
        ddStatus = await DropDownListService.GetMainStatus();
    }

    private async Task ChangePage(int newPage)
    {
        currentPage = newPage;
        var pagedJobOffers = await JobOfferService.SearchJobOffersAsync(
            statusId, 
            candidate, 
            currentPage,
            pageSize);

        jobOffers = pagedJobOffers.Data;
        totalCount = pagedJobOffers.TotalCount;
    }

    private async Task Reset()
    {
        statusId = 0;
        candidate = "";
        await ChangePage(1);
    }


    private void ViewDetails(VwJobOffers item)
    {
        Navigation.NavigateTo($"{JORoutes.Transaction.JobOffer}/{item.Id}/{item.Candidate_Id}");
    }
}
